@import "libs/fonts";
@import "base/animations";
@import "base/mixins";
@import "base/variables";

* {
    box-sizing: border-box;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

@import "blocks/header";
@import "blocks/promo";
@import "blocks/buttons";
@import "blocks/hamburger";
@import 'blocks/section-headers';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/catalog';
@import 'blocks/_form';
@import 'blocks/scheme';
@import 'blocks/reviews';
@import 'blocks/questions';