.button{
    width: 160px;
    height: 45px;
    background-color: $main-color;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    &_big {
        display: block;
        width: 230px;
        height: 57px;
        margin: 0 auto;
        font-size: 15px;
        font-weight: 500;
        margin-top: 39px;
    }
    &_1200px{
        display: none;
    }
    &_form{ 
        display: block;
    }
}
.btn-legend{
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    padding: 0 10px;
    background-color: #fff;
}

@media(max-width: 1200px){
    .button{
        &_1200px{
            display: block;
            margin-left:auto;
            width: 145px;
            height: 40px;
        }
        &_more1200px{
            display: none;
        }
    }
}

@media(max-width: 950px){
    .button{
        &_1200px{
            width: 140px;
            height: 35px;
        }
    }
}

@media(max-width: 768px){
    .button{
        &_price{
            width: 145px;
            height: 40px;
        }
    }
}

@media(max-width: 565px){
    .button{
        &_1200px{
            width: 135px;
            height: 35px;
        }
        &_big{
            width: 210px;
            height: 50px;
            font-size: 14px;
        }
    }
}

@media(max-width: 450px){
    .button{
        &_form{
            width: 140px;
        }
    }
    .btn-legend{
        width: 160px;
    }
}