#name-error, #phone-error, #email-error, #text-error{
    width: 100%;
    text-align: center;
    border: none;
    margin-bottom: 15px;
    text-align: center;
}
.error{
    border: 1px solid red;
}
label.error{
    align-content: center;
    text-align: center;
}
@media(max-width: 425px){
    .error{
        font-size: 13px;
    }
}
